.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: #333;
  position: relative; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20%;
  margin-right: 65%;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  font-family: montserrat;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f00;
}
.auth-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-links {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

.auth-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  font-family: montserrat;
  transition: color 0.3s ease;
}

.auth-links a:hover {
  color: #ff6f00;
}

.profile-icon {
  background: none;
  border: none;
  color:#1c1c1c;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.profile-icon:hover{
  background-color: #fee3e8 ;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #1c1c1c; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 60px;
  right: 0;
  width: 150px; 
}

.dropdown-item {
  text-decoration: none;
  color: #ffffff; 
  font-size: 14px;
  padding: 10px 20px; 
}

.dropdown-item:hover {
  background: #333333; 
  border-radius: 3px; 
}

.chat{
  background-color: #fee3e8;
}

.chat:hover{
  background:  #fee3e8;;
  background-color: #fee3e8;
}

.logged {
  gap: 10px;
}

/* Custom tooltip for chat and profile icons */
.chat,
.profile-icon {
  position: relative;
}

.chat:hover::after,
.profile-icon:hover::after {
  content: attr(title);
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
}

/* Adjust tooltip appearance for chat */
.chat:hover::after {
  opacity: 1;
}

/* Adjust tooltip appearance for profile */
.profile-icon:hover::after {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
