.navbar {
  /* background-color:look for one!! */ 
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20%;
  margin-right: 65%;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px; 
  font-family: montserrat;
  transition: color 0.3s ease; 
}

.nav-links a:hover {
  color: #ff6f00; 
}

.signup-login {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
