.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  color: #333;
  position: relative; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20%;
  margin-right: 65%;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  font-family: montserrat;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f00;
}
.auth-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-links {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
}

.auth-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  font-family: montserrat;
  transition: color 0.3s ease;
}

.auth-links a:hover {
  color: #ff6f00;
}


