.internships-container {
    padding: 20px;
    font-family: montserrat;
  }

  .internship-cards {
    display: grid;
    grid-template-columns: 1fr; /* Change this to 1fr */
    gap: 10px;
  }
  
  
  .internship-card {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex; 
    align-items: center; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .internship-card:hover {
    transform: translateY(-5px);
  }
  
  .internship-image {
    width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px; 
  }
  
  
  .internship-details {
    text-align: left; 
    flex: 1; 
  }
  .internship-details h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .internship-details p {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .internship-details a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .internship-details a:hover {
    text-decoration: underline;
  }
  
  .internship-details p.company {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .internship-details p.category {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .search-new-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .new-internships {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    border-radius: 4px;
  }
  
  .new-internships:hover {
    background-color: #45a049;
  }
  
  
  .search-input {
    padding: 10px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .like-button {
    align-self: flex-end; 
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px; 
    outline: none;
  }

  .like-button.active {
    color: red;
  }


  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2em;
    outline: none;
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  }
  
  .Modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
  }
  
  .modal-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
  .modal-button-close {
    background-color: #EF4F4F;
    color: white;
  }
  
  .modal-button-close:hover {
    background-color: #d44141;
  }
  
  .modal-button-login {
    background-color: #0077B6;
    color: white;
  }
  
  .modal-button-login:hover {
    background-color: #005ea8;
  }
  
  .modal-button-signup {
    background-color: #48BFE3;
    color: white;
  }
  
  .modal-button-signup:hover {
    background-color: #37a3d3;
  }
  