.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -15px;
}

.animation-container {
  animation: fade-in 1s ease-in-out;
}

.animation-image {
  width: 500px;
  height: 500px;
}

.text-container {
  text-align: center;
}

.text-container h1 {
  font-size: 40px; 
  margin-bottom: 20px;
  color: #333; 
  font-family: montserrat; 
}

.text-container p {
  font-size: 24px; 
  color: #555; 
  font-family: montserrat; 
}

